@charset "utf-8";
/* CSS Document */


#inicio{
background-color:#FFFFCC;
}

#logo{
width:15.250em;
height:9.125em;	
margin:0 auto;
margin-bottom:6%;
margin-top:4%;
}

#logoImagen{
width:15.250em;
height:9.125em;	
}


h1{
color:#996666;
font-size:0.813em;
width:85%;
margin:0 auto;
margin-top:10%;
text-align:center;
}

#campo1{
width:85%;
margin:0 auto;
}

#campo2{
margin:0 auto;
width:85%;
}

#texto1{
background-color:#A1574B;
color:#FFFFFF;
text-decoration:none;
}

#texto2{
background-color:#A1574B;
color:#FFFFFF;
text-decoration:none;
}

#footer{
border-top:solid thin #8F4234;
color:#8F4234;
padding-top:1%;
font-size:0.625em;
width:100%;
margin-top:50%;
}

#footer p{
text-align:center;
}


#boton{
background-color:#FFF;
text-align:center;
width:40%;
margin:0 auto;
margin-top:5%;
padding:2%;
border:solid 0.125em #8F4234;
border-radius:0.625em;
}

#botoncito{
color:#8F4234;		
text-decoration:none;
}

@media screen and (min-width:30em){
	
#logo{
width:376px;
height:224px;	
margin-bottom:3%;
}

#logoImagen{
width:23.500em;
height:14.000em;	
}


h1{
color:#996666;
font-size:1.063em;
margin:0 auto;
margin-top:5%;
}


#inicio{
background-color:#FFFFCC;
}


#texto1{
color:#000000;
text-decoration:none;
}


#texto2{
color:#FFFFFF;
text-decoration:none;
}

#footer{

border-top:solid thin #8F4234;
color:#8F4234;
font-size:0.938em;
position:relative;
margin-top:5%;

}

#boton{
background-color:#FFF;
text-align:center;
width:40%;
margin:0 auto;
margin-top:2%;
padding:1%;
border:solid 0.125em #8F4234;
border-radius: 10px;
}

}